@using HGO.Hub.Interfaces
@using NetPress.Application.Features.Post.Queries.GetPostsList
@inject IHub hub
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <PostsList posts="@await hub.RequestAsync(new GetPostsList())"></PostsList>
</div>
