@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @V("PostsListComponent", new { posts = await Hub.RequestAsync(new GetPostsListQuery() { PageSize = QS["PageSize"].To(10), PageIndex = QS["PageIndex"].To(0) }) })
</div>
