.navbar-brand {
    .logo {
        font-family: var(--head-font-ltr);
        font-weight: 900;
        color: rgb(var(--theme-main-color));
        font-size: 2.5rem;
        filter: drop-shadow(-.4rem .4rem 0px rgba(var(--theme-main-color),.25)) contrast(1) brightness(1);
        text-shadow: -.2rem .2rem rgba(var(--theme-main-color),.5);
        transition: 0.3s;

        &:hover {
            color: rgb(var(--theme-main-color));
            filter: drop-shadow(-.2rem .2rem 0px rgba(var(--theme-main-color),.25)) contrast(1.3) brightness(1.3);
            transition: 0.5s;
        }
    }
}
