.post-card-wraper {
    border-radius: 16px;
    background-color: rgb(var(--post-card-bg-color));
    padding: 8px;

    .post-card-title {
        font-family: var(--head-font-ltr);
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 500;
        text-decoration: none;
        color: black;
        display: block;
    }

    .post-card-img {
        border-radius: 8px;
        margin: auto;
        display: block;
        max-width: 100%;
    }

    .post-card-excerpt {
        text-align: justify;
    }

    .post-card-read-more-btn {
        color: rgb(var(--theme-main-color));
        text-decoration: none;
        margin-top: 10px;
        display: block;
    }
}
